@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

:root {
	--black: #212832;
	--body-color: #888;
	--deep-red: #DF6951;
	--deep-orange: #F1A501;
	--deep-black: #14183E;
	--light-black: #5E6282;
	--ligt-gray: #84829A;
	--pure-black: #080809;
	--white: #FFFFFF;
}

/*------ common css------------*/
body {
	font-family: 'Volkhov', serif;
	color: var(--body-color);
}


/*----------hero---------------*/
.hero___buttons {
  display: grid;
  grid-template-columns: 170px auto;
  column-gap: 44px;
}

.btn-play-demo {
  display: grid;
  grid-template-columns: 52px auto;
  column-gap: 21px;
  width: 165px;
  height: 52px;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--black);
}

a {
	color: var(--light-black);
	text-decoration: none;
}


.navbar-hero {
	background-image: url("../images/decore.png");
}

/*----------end hero---------------*/

/*----------category---------------*/
section {
	padding-top: 105px;
	/*padding-bottom: 156px;*/

}

.card-effect {
	text-align: center;
}

.card-effect:hover {
	width: 267px !important;
	height: 314px !important;
	background: var(--white);
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 36px;
}

/*----------end category---------------*/

/*----------end category---------------*/
.destination_item {
	/*border: 1px solid black;*/
}

.destinations_item__title {
	display: flex;
    justify-content: space-around;
    font-weight: 500;
	font-size: 18px;
	line-height: 124.5%;
	padding-top: 27px;
}
/*----------end hotels---------------*/

/*----------booking---------------*/
.col-img {
	background: var(--white);
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 26px;
}

.booking_infomation {
	position: relative;
}
/*----------end booking---------------*/

